<div>
    <c-input-group>
        <span cInputGroupText>Size</span>
        <input aria-label="Size"
               cFormControl
               placeholder="Size"
               [(ngModel)]="config.size"
               (ngModelChange)="configChanged()"
        />
    </c-input-group>

    <c-input-group>
        <span cInputGroupText>Color</span>
        <input aria-label="Size"
               cFormControl
               placeholder="Color"
               [(ngModel)]="config.color"
               (ngModelChange)="configChanged()"
        />
    </c-input-group>

    <c-input-group>
        <span cInputGroupText>Variable</span>
        <input aria-label="Variable"
               cFormControl
               placeholder="Variable"
               [(ngModel)]="config.fieldName"
               (ngModelChange)="configChanged()"
        />
    </c-input-group>
</div>
