<!--<p>Size={{  config.size}} Color={{config.color}} </p>-->

<div>
    <div class="form-group">
        <label for="sizeInput">Size</label>
        <input
            type="number"
            id="sizeInput"
            class="form-control"
            [(ngModel)]="config.size"
            placeholder="Enter size"
        />
    </div>

    <div class="form-group mt-3">
        <label for="colourInput">Colour</label>
        <input
            type="text"
            id="colourInput"
            class="form-control"
            [(ngModel)]="config.color"
            placeholder="Enter color"
        />
    </div>
</div>
