body {
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.leaflet-control-zoom,
.leaflet-bottom {
    /*Annoying: Gets sometimes selecting when zooming / panning the map.*/
    user-select: none;
}

.layer-hidden {
    visibility: hidden;
}
